<div class="row mt-3 mb-2">
  <div class="col-4">
    <ngb-pagination [page]="queryParams.page" [pageSize]="queryParams.pageSize" [collectionSize]="restaurants.count"
      (pageChange)="onPageChanged($event)">
    </ngb-pagination>
  </div>

  <div class="col-8">
    <app-price-range (priceChange)="onPriceChanged($event)"></app-price-range>
  </div>
</div>

<div class="row">
  <div class="col-4" *ngFor="let item of restaurants.results">
    <app-restaurant-item [restaurant]="item"></app-restaurant-item>
  </div>
</div>