<div class="card my-3">
  <img src="../../../assets/images/{{course.image}}" class="card-img-top" alt="{{ course.name }}" />

  <div class="card-body">
    <h5 class="card-title">{{course.name}}</h5>
    <p class="card-text">{{course.overview}}</p>
  </div>

  <div class="card-body">
    <a class="card-link">Saznaj više</a>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">{{course.weeks}} nedelja</li>
    <li class="list-group-item text-center">{{course.price | number: '2.1-1'}} RSD</li>
  </ul>
</div>