<div class="card mb-3 exibition" [routerLink]="['/exibitions', exibition._id]">
  <div class="card-body fs-5 text-muted">
    <h5>{{exibition.title}}</h5>
    <p><small>{{exibition.location.site}}, {{exibition.location.room}}</small></p>
    <p class="card-text fs-6 text-muted">{{exibition.description}}</p>
  </div>

  <div *ngIf="btn==true" class="w-100 d-flex justify-content-end mb-2 mx-2">
    <button type="button" class="btn btn-dark justify-content-md-end" (click)="onToggleClick()">edit</button>
  </div>
</div>