<div class="d-flex flex-row justify-content-between px-3">
  <ngb-pagination [page]="params.page" [pageSize]="params.pageSize" [collectionSize]="documentList.count"
    (pageChange)="onPageChanged($event)">
  </ngb-pagination>

  <div class="col-8">
    <small *ngIf="showSettings">
      Date of Creation<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.dateOfCreation">
      Date of Recording<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.dateOfRecording">
      Status<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.status">
      Transaction Type<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.transactionType">
      Business Partner<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.businessPartner">
      Business Partner Location<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.businessPartnerLocation">
      Year<input class="ms-1 me-1" type="checkbox" [(ngModel)]="settings.year">
    </small>
  </div>

  <button *ngIf="!showSettings" class="btn btn-primary btn-sm" (click)="showSettings = !showSettings">Open table
    settings</button>
  <button *ngIf="showSettings" class="btn btn-primary btn-sm" (click)="showSettings = !showSettings">Close table
    settings</button>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th scope="col" class="text-primary" (click)="handleSort('dateOfCreation')" *ngIf="settings.dateOfCreation">
        Creation Date ⇅</th>
      <th scope="col" class="text-primary" (click)="handleSort('dateOfRecording')" *ngIf="settings.dateOfRecording">
        Recording Date ⇅</th>
      <th scope="col" class="text-primary" (click)="handleSort('status')" *ngIf="settings.status">Status ⇅</th>
      <th scope="col" class="text-primary" (click)="handleSort('transactionType')" *ngIf="settings.transactionType">
        Transaction Type ⇅</th>
      <th scope="col" *ngIf="settings.businessPartner">Business Partner</th>
      <th scope="col" *ngIf="settings.businessPartnerLocation">Business Location</th>
      <th scope="col" class="text-primary" (click)="handleSort('year')" *ngIf="settings.year">Year ⇅</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documentList.results" [routerLink]="['/documents', doc._id]">
      <th class="fw-normal" *ngIf="settings.dateOfCreation">{{doc.dateOfCreation | date:"mediumDate" }}</th>
      <th class="fw-normal" *ngIf="settings.dateOfRecording">{{doc.dateOfRecording | date:"mediumDate" }}</th>
      <th class="fw-normal" *ngIf="settings.status">{{doc.status}}</th>
      <th class="fw-normal" *ngIf="settings.transactionType">{{doc.transactionType}}</th>
      <th class="fw-normal" *ngIf="settings.businessPartner">{{doc.businessPartner.name}}</th>
      <th class="fw-normal" *ngIf="settings.businessPartnerLocation">{{doc.businessPartner.city}}</th>
      <th class="fw-normal" *ngIf="settings.year">{{doc.year}}</th>
    </tr>
  </tbody>
</table>