<ng-template #content let-offcanvas class="card">
  <img src="http://localhost:3000/image/{{artwork.imageId}}.jpg" class="card-img-top">

  <div class="offcanvas-header pb-0">
    <h4 class="offcanvas-title">{{artwork.title}}</h4>
  </div>

  <div class="offcanvas-body pt-1">
    <h5>{{artwork.author}}</h5>
    <p class="text-muted fs-6">{{artwork.medium}}</p>
    <p class="text-muted fs-6">{{artwork.dimensions}}</p>
    <p class="text-muted fs-6">{{artwork.description}}</p>
    <div class="text-end">
      <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>