<div class="row mt-3">
  <div class="col-6 offset-3">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="isbnInput">ISBN</label>
        <input type="text" class="form-control" id="isbnInput" formControlName="ISBN">
      </div>
      <div class="form-group">
        <label for="titleInput">Title</label>
        <input type="text" class="form-control" id="titleInput" formControlName="title">
      </div>
      <div class="form-group">
        <label for="authorInput">Author</label>
        <input type="text" class="form-control" id="authorInput" formControlName="author">
      </div>
      <div class="form-group">
        <label for="yearOfPublicationInput">Year of Publication</label>
        <input type="number" class="form-control" id="yearOfPublicationInput" formControlName="yearOfPublication">
      </div>
      <div class="form-group">
        <label for="publisherInput">Publisher</label>
        <input type="text" class="form-control" id="publisherInput" formControlName="publisher">
      </div>
      <button class="btn btn-primary mt-3" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>