<form [formGroup]="bookForm" class="d-flex flex-column align-items-center">
  <label class="row w-50" for="ISBN">ISBN</label>
  <input class="row w-50 mb-3" type="text" id="ISBN" formControlName="ISBN">

  <label class="row w-50" for="title">Title</label>
  <input class="row w-50 mb-3" type="text" id="title" formControlName="title">

  <label class="row w-50" for="author">Author</label>
  <input class="row w-50 mb-3" type="text" id="author" formControlName="author">

  <label class="row w-50" for="yearOfPublication">Year Of Publication</label>
  <input class="row w-50 mb-3" type="number" id="yearOfPublication" formControlName="yearOfPublication">

  <label class="row w-50" for="publisher">Publisher</label>
  <input class="row w-50 mb-3" type="text" id="publisher" formControlName="publisher">

  <div class="w-50 align-items-start">
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </div>
</form>