<div class="row px-5">
  <div class="col-7">
    <div class="mb-3">
      <div class="row g-0">
        <div class="col-8">
          <img src="{{pet.image}}" width="100%">
        </div>
        <div class="col-4">
          <div class="ms-3">
            <h2>{{pet.name | titlecase}}</h2>
            <p>Category: {{pet.category}}</p>
            <p>Sex: {{pet.sex == 'f' ? 'Female' : 'Male'}}</p>
            <p class="card-text">Size: {{pet.size_kg}}kg</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form class="col-5" [formGroup]="form">
    <h4 class="text-center">Adopt</h4>
    <div class="row">
      <label for="name" class="mb-1 ps-0">Name</label>
      <input type="text" placeholder="Enter your full name" name="name" formControlName="name" id="name">
    </div>
    <div class="row mt-2">
      <label for="contact" class="mb-1 ps-0">Contact</label>
      <input type="text" placeholder="Enter your contact info" name="contact" formControlName="contact" id="contact">
    </div>
    <div class="row mt-4 justify-content-end">
      <button type="button" class="btn btn-primary w-auto" (click)="onSubmit()">Submit
        request</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-7">
    <hr>
    <p>{{pet.story}}</p>
  </div>
</div>