<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{book.author}}</h6>
    <p class="m-0">ISBN: {{book.ISBN}}</p>
    <p class="m-0">Year Of Publication: {{book.yearOfPublication}}</p>
    <p class="m-0">Publisher: {{book.publisher}}</p>

    <ng-container *ngIf="score>-1">
      Average Score:
      <ngb-rating [(rate)]="score" [max]="5" [readonly]="true"></ngb-rating>
    </ng-container>

    <div class="pt-3">
      <a class="pe-3" *ngIf="score" [routerLink]="['/books', book._id]">Details</a>
      <a [routerLink]="['/edit-book', book._id]">Edit</a>
    </div>
  </div>
</div>