<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Year</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wine of wines; let i = index">
      <td>{{ (currentPage - 1) * WINE_PER_PAGE + i + 1 }}</td>
      <!-- <td>{{wine.id}}</td> -->
      <td>{{wine.name}}</td>
      <td>{{wine.year}}</td>
      <td>{{wine.country}}</td>
    </tr>
  </tbody>
</table>

<wc-wine-pagination [pageCount]="pageCount" (pageChange)="onPageChange($event)"></wc-wine-pagination>