<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Year</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>CHATEAU DE SAINT COSME</td>
      <td>2009</td>
      <td>France</td>
    </tr>
    <tr>
      <td>2</td>
      <td>LAN RIOJA CRIANZA</td>
      <td>2006</td>
      <td>Spain</td>
    </tr>
    <tr>
      <td>3</td>
      <td>MARGERUM SYBARITE</td>
      <td>2010</td>
      <td>USA</td>
    </tr>
    <tr>
      <td>4</td>
      <td>OWEN ROE "EX UMBRIS"</td>
      <td>2009</td>
      <td>USA</td>
    </tr>
    <tr>
      <td>5</td>
      <td>REX HILL</td>
      <td>2009</td>
      <td>USA</td>
    </tr>
  </tbody>
</table>