<div class="box">

  <div class="card mb-3" style="max-width: 540px;" *ngFor="let movie of movies">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{movie.image}} class="img-fluid rounded-start" alt={{movie.name}}>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{movie.name}}</h4>
          <p class="card-text mb-0 mt-1">{{movie.description}}</p>
          <hr>
          <p class="card-text mb-0 mt-1"><small class="text-body-secondary">Director: {{movie.director}}</small></p>
          <p class="card-text mb-0 mt-1">
            <small class="text-body-secondary">
              Genre: {{movie.genre}}, Year: {{movie.year}}, Duration: {{movie.duration}} minutes
            </small>
          </p>

          <hr>

          <div class="btn">
            <button type="button" class="btn btn-sm btn-outline-info me-2">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-danger me-4">Delete</button>
            <p class="card-text mb-0 mt-1"><small class="text-body-secondary">{{movie.rating}}</small></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="ratings">
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star rating-color"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>