<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">ArtMuseum</a>
    <ul class="navbar-nav d-inline-flex flex-row align-items-center">
      <li class="nav-item">
        <a class="nav-link me-4" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link me-4" [routerLink]="['exibitions']">Exibitions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link me-4" [routerLink]="['new-exibition']">New Exibition</a>
      </li>
      <li class="nav-item ms-   ">
        <a class="nav-link me-4" [routerLink]="['about']">About</a>
      </li>
    </ul>
  </div>
</nav>