<nav class="navbar position-fixed h-100 align-items-start p-3">
  <div class="navbar-nav d-flex w-100">
    <a class="navbar-brand pb-3">BookBase</a>
    <a class="nav-link cursorPointer border rounded-top p-2" [routerLink]="['home']">Home</a>
    <a class="nav-link cursorPointer border p-2" [routerLink]="['books']">Books</a>
    <a class="nav-link cursorPointer border p-2" [routerLink]="['add-book']">Add Book</a>
    <a class="nav-link cursorPointer border rounded-bottom p-2" [routerLink]="['about']">About</a>
  </div>
</nav>