<form class="d-flex flex-column flex-sm-row justify-content-between mt-1 p-3 align-items-center">
  <label class="me-1" for="godine">Godine:</label>
  <div class="input-group input-group-sm me-1">
    <input type="number" class="form-control" />
  </div>
  <div class="input-group input-group-sm me-1">
    <input type="number" class="form-control" />
  </div>

  <label class="me-1" for="datum">Datumi:</label>
  <div class="input-group input-group-sm me-1">
    <input type="date" class="form-control" />
  </div>
  <div class="input-group input-group-sm me-1">
    <input type="date" class="form-control" />
  </div>

  <label class="me-1" for="pol">Pol:</label>
  <select class="form-select form-select-sm me-1" aria-label=".form-select-sm example">
    <option value="1">Muski</option>
    <option value="2">Zenski</option>
  </select>

  <label class="me-1" for="rasa">Rasa:</label>
  <div class="input-group input-group-sm me-1">
    <input type="text" class="form-control" placeholder="Rasa" />
  </div>
</form>