<div class="row my-3">
  <div class="col">
    <h2 class="fw-bold text-center my-4">Kursevi</h2>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-6 col-xl-3" *ngFor="let course of courses.results">
        <app-course-item [course]="course" [routerLink]="['/courses', course.id]"></app-course-item>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex flex-column align-items-center">
    <label class="row w-100 mb-1" for="name">Naziv</label>
    <input class="row w-100 mb-4 name-input" type="text" id="name" placeholder="search by name" (change)="name($event)">

    <label for="customRange1" class="form-label w-100">Trajanje do <b>{{params.filter.weeksTo ?
        params.filter.weeksTo :
        '20'}}</b>
      nedelja</label>
    <input type="range" class="form-range mb-3" min="1" max="20" step="1" id="customRange1" (change)="weeks($event)">

    <label class="row w-100 mb-1" for="sort">Sort</label>
    <select class="form-select" (change)="sort($event)">
      <option *ngFor="let sort of sorting" value="{{sort}}">{{sort}}</option>
    </select>
  </div>
</div>