app-course-item {
  cursor: pointer;
}

.name-input {
  border-color: #dee2e6;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 37px;
}

.name-input::placeholder {
  padding-left: 7px;
}
