<div class="row mt-5">
    <div class="col-6 offset-3">
        <form [formGroup]="exibitionForm">
            <div class="mb-3">
              <label for="titleInput" class="form-label">Title</label>
              <input type="text" class="form-control" id="titleInput" formControlName="title">
            </div>
            <div class="mb-3">
              <label for="descriptionInput" class="form-label">Description</label>
              <textarea  class="form-control" id="descriptionInput" formControlName="description"></textarea>
            </div>
            <button [disabled]="!exibitionForm.valid" class="btn btn-dark float-end" (click)="onAdd()">Add</button>
        </form>
    </div>
</div>